@import "@/assets/variables-colors";
@import "@/assets/variables";
@import "@/assets/mixins";

.header {
  height: 43px;
  padding: 0 16px;
  width: 100%;
  background-color: $color-black;
  gap: 16px;

  @include flex-between;

  &>div:nth-child(2) {
    width: 100%;
    max-width: 390px;
    font-family: $ff-sans;
  }

  @include responsive {
    border: 1px solid $color-grey-13;
    padding: 12px 16px;
    height: 60px;

    &::before {
      content: none;
    }
  }
}

.button-group {
  height: 43px;
}

.title {
  font-size: $fs-26;
  line-height: 0;

  @media (max-width: 1415px) {
    display: none;
  }
}

.title-mobile {
  display: none;

  @media (max-width: 1415px) {
    display: block;
    font-size: $fs-26;
    line-height: 0;
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  @include component-to-hide(1px, $media-1100-width);
}

.button {
  @include flex-between();
  min-width: 180px;
  width: 100%;
  padding: 0 8px;
}

.search {
  align-self: flex-end;

  &>label {
    @media (max-width: 1415px) {
      display: none;
    }
  }
}