@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;

  width: 100%;

  background-color: $color-black;
  gap: 20px;
  @include gradient-border();

  &>div:nth-child(2) {
    width: 100%;
    max-width: 390px;
    font-family: $ff-start-2p;
  }
}

.buttons-wrapper {
  max-width: 400px;
}