@import "@/assets/variables-colors";
@import "@/assets/variables";
@import "@/assets/mixins";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-grey-13;

  @include responsive {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;

    &::before {
      content: none;
    }
  }
}

.button-group {
  height: 45px;
}

.title {
  font-size: $fs-26;
  line-height: $fs-26;
  margin: 8px 16px;

  @include responsive {
    display: none;
  }

}

.title-mobile {
  display: none;

  @include responsive {
    display: block;
    font-size: $fs-26;
    line-height: $fs-26;
  }
}

.search,
.buttons-wrapper {
  margin: 0 16px;

  @include responsive {
    margin: 0;
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 600px;

  &>div {
    gap: 8px;
  }

  @include component-to-hide(1px, $media-1100-width);
}

.container {
  border-top: 3px solid $color-green-1;
  padding: 8px 0;
  @include flex-between();
  align-items: center;

  @include responsive {
    border: none;
  }
}

.button {
  @include flex-between();
  min-width: 180px;
  width: 100%;
  padding: 0 8px;
}