@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.aside {
  height: 100%;
  width: 100%;
  max-width: 310px;
  min-width: 310px;
  overflow: hidden;
  top: 0;
  z-index: 1;

  background: linear-gradient(160deg, rgba(161, 44, 153, 0.1),
      rgba(0, 0, 0, 1),
      rgba(206, 60, 105, 0.2),
      rgba(214, 87, 39, 0.2),
      rgba(252, 249, 64, 0.1),
      rgba(33, 34, 241, 0.1),
      rgba(127, 36, 175, 0.1),
    );
  position: sticky;
  @include component-to-hide(1px, $media-1100-width);
}

.large-screen {
  max-height: calc(100vh - $small-header);
}

.medium-screen {
  max-height: calc($header + $coins-table + $bubbles-scene);
}

.top-part {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 14px 16px;

  background-color: $color-black;
  @include gradient-border(1px);
}

.title {
  margin: 0;
  font-size: $fs-36;
  letter-spacing: 3px;
  text-align: center;
}

.bottom-part {
  // padding-bottom: 20px;
  @include gradient-border();
}