@import '@/assets/variables-colors';
@import '@/assets/variables';

.aside {
  width: 310px;
  height: 100%;

  border: 1px solid $color-grey-10;
  background-color: $color-grey-4;
}

.top-part {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 24px 16px;

  background-color: $color-grey-1;
}

.title {
  margin: 0;

  color: $color-white;

  font-family: $ff-lato;
  font-size: $fs-28;
  font-weight: $fw-700;
}

.bottom-part {
  min-height: 1800px;
}