@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.aside {
  width: 310px;
  height: 100%;

  border: 1px solid $color-grey-10;
  background-color: $color-grey-4;
}

.top-part {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 14px 16px;

  background-color: $color-black;
  @include gradient-border(1px);
}

.title {
  margin: 0;
  font-size: $fs-20;
}