@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.button-group {
  width: 100%;
  display: flex;
  background-color: $color-black-2 !important;
  border-bottom: 1px solid $color-grey-13;
}

.button {
  min-width: 54px;
  width: 100%;
  border-radius: 0 !important;
  padding: 16px 14px !important;
  border: 1px solid $color-grey-13 !important;
  border-bottom: 0;

  font-size: $fs-16 !important;
  line-height: 0;

  @include hover('background-color', $color-dark-blue);

  &:disabled {
    border: 1px solid $color-grey-13 !important;
    color: $color-grey-13 !important;
  }
}

.selected {
  background-color: $color-dark-blue;
}