@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.button-group {
  width: 100%;
  display: flex;
  background-color: $color-black-2 !important;
}

.button {
  min-width: 54px;
  width: 100%;
  border-radius: $border-radius !important;
  padding: 16px 14px !important;
  background-color: $color-grey-8 !important;

  font-size: $fs-16 !important;
  line-height: 0;

  @include hover('background-color', $color-green-1);
}

.selected {
  background-color: $color-green-1 !important;
}