@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.search-field {
  width: 100%;
  color: $color-white;
  outline-color: $color-green-1;
  background-color: $color-grey-4;
  max-width: 250px;
  width: 100%;
  font-weight: $fw-600;
  border: none;
  border-radius: $border-radius;
  padding: 8px;

  &::placeholder {
    color: $color-white;
    font-weight: $fw-600;
    padding: 8px;
  }
}