@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.footer {
  display: none;

  @include responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid $color-grey-13;
  }
}

.button-group {
  gap: 8px;
}