@import '@/assets/variables-colors';
@import '@/assets/variables';

.body1 {
  font-size: $fs-20;
  line-height: $fs-20;
  margin: 0;
}

.body2 {
  font-size: $fs-12;
  line-height: $fs-14;
  margin: 0;
}

.inherit {
  // should be empty
}

.regular {
  font-weight: $fw-400;
}

.green {
  color: $color-green-2;
}

.red {
  color: $color-red-4;
}