@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.network-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 40px;
  padding: 10px;
  margin-bottom: 20px;

  @include gradient-border(2px);
  background-color: $color-black-1;
}


.network-block {
  display: flex;
  align-items: center;

  width: 287px;
  gap: 8px;
}

.networks-list {
  overflow-y: auto;
  position: relative;
  z-index: 1;

  height: 100%;
  max-height: 950px;
  margin: 0;
  padding: 0;
  padding: 24px 16px;

  list-style: none;
}

.edit-button {
  position: relative;
  z-index: 1;
  font-size: $fs-11;
  background-color: transparent;
  color: $color-green-2;
  border: none;
  text-decoration-line: underline;
}

.button {
  padding: 16px 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  cursor: pointer;
  border: 1px solid $color-grey-13;
  color: $color-white;
  border-radius: 4px;
  background-color: transparent;
  text-align: start;

  &:hover {
    background-color: $color-grey-8;
  }

  &:active {
    background-color: $color-light-grey-2;
  }
}

.img {
  border-radius: 50%;
}