@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.border {
  max-height: calc(100vh - $header - $bubbles-scene - $small-header - 3px);
  min-height: $coins-table;
  min-width: 100%;
  max-width: 600px;
  overflow: auto;
  border-image-slice: 50 50;
  border-image-source: linear-gradient(rgba(161, 44, 153, 1),
      rgba(206, 60, 105, 1),
      rgba(214, 87, 39, 1),
      rgba(252, 249, 64, 1),
      rgba(33, 34, 241, 1),
      rgba(127, 36, 175, 1));
  border-width: 1px;
  border-style: solid;
  @include component-to-hide(1px, $media-1100-width);
}

.container {
  width: 100%;
  padding-right: 1px;
}

.table {
  padding: 1px 1px 0 1px;
  width: 100%;
  position: relative;
  z-index: 2;
  border-collapse: separate;
}

.table-th {
  min-width: 135px;
  position: sticky;
  top: 0;
  z-index: 4;
  padding: 16px;
  font-size: $fs-20;
  cursor: pointer;
  border: 1px solid $color-grey-13;
  -webkit-box-shadow: 0px 0px 0px 1px inset rgba($color-light-grey-3, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px inset rgba($color-light-grey-3, 0.75);
  box-shadow: 0px 0px 0px 1px inset rgba($color-light-grey-3, 0.75);
  background-color: $color-black-2;
}

.table-th-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.end {
  justify-content: flex-end;
}

.button {
  width: 100%;
  border: 0;
  color: $color-white;
  background-color: transparent;
}

.table-row {
  background-color: $color-black-2;
  border: 1px solid $color-grey-13;
  -webkit-box-shadow: 0px 0px 0px 1px inset rgba($color-grey-13, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px inset rgba($color-grey-13, 0.75);
  box-shadow: 0px 0px 0px 1px inset rgba($color-grey-13, 0.75);
}

.table-cell {
  font-size: $fs-20;
  text-align: center;
  height: 40px;

  &:last-child {
    display: flex;
    padding: 0 16px;
    justify-content: flex-end;
  }
}

.links {
  text-align: right;
  height: 100%;

  &-content {
    padding: 16px 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
}

.positive {
  background-color: $color-green-1;
}

.negative {
  background-color: $color-red-1;
}

.neutral {
  background-color: 'transparent';
}

.up {
  transform: rotate(180deg);
}

.up-r {
  transform: rotate(180deg);

  & path {
    fill: $color-green-2;
  }
}

.down-r {
  & path {
    fill: $color-red-5;
  }
}

.price-change {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.col-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}