@import '@/assets/variables-colors';
@import '@/assets/variables';

.container {
  height: 840px;
  overflow: auto;
  padding-right: 1px;
}

.table {
  width: 100%;
}

.table-head {
  position: relative;
  background-color: $color-grey-5;
  z-index: 2;
}

.table-th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $color-grey-1;
  padding: 16px;
  font-size: $fs-14;
  cursor: pointer;
}

.table-th-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.end {
  justify-content: flex-end;
}

.table-row {

  &:nth-child(even) {
    background-color: $color-grey-6;
  }

  &:nth-child(odd) {
    background-color: $color-grey-7;
  }
}

.table-cell {
  font-size: $fs-14;
  text-align: center;
  height: 100%;

  &:last-child {
    display: flex;
    padding: 0 16px;
    justify-content: flex-end;
  }
}

.links {
  text-align: right;

  &-content {
    padding: 16px 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
}

.positive {
  background-color: $color-green-1;
}

.negative {
  background-color: $color-red-1;
}

.neutral {
  background-color: 'transparent';
}

.border {
  border: 1px solid $color-grey-10;
}

.up {
  transform: rotate(180deg);
}

.price-change {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.col-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}