@use 'sass:color';
@import './assets/normalize';
@import './assets/variables-colors';
@import './assets/variables';


* {
  box-sizing: border-box;
}

html {
  color: $color-white;

  font-family: $ff-start-2p;
}

html,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;

  &-track {
    width: 100%;
    height: 6px;

    box-shadow:
      inset 0 0 0 1px $color-grey-8,
      inset 0 0 0 3px $color-grey-5;
  }

  &-thumb {
    border: 1px solid $color-grey-2;
    background-color: $color-light-grey-2;

    &:hover {
      background-color: color.adjust($color-light-grey-2, $lightness: 10%);
    }
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.MuiOutlinedInput-input {
  color: $color-white;
  font-family: $ff-start-2p !important;
  font-size: $fs-8;
  opacity: 1;
}