@use 'sass:color';
@import './assets/normalize';
@import './assets/variables-colors';
@import './assets/variables';
@import './assets/mixins';

* {
  box-sizing: border-box;
}

html {
  color: $color-white;

  font-family: $ff-jersey;
}

html,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  @include responsive {
    width: 4px;
  }

  &-track {
    width: 100%;
    height: 6px;


    box-shadow:
      inset 0 0 0 1px $color-grey-8,
      inset 0 0 0 3px $color-grey-5;
  }

  &-thumb {
    @include gradient-border(1px);
    border: 1px solid $color-grey-2;
    background-color: $color-dark-pink;

    @include hover('background-color', color.adjust($color-dark-blue, $lightness: 10%));
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.MuiOutlinedInput-input {
  color: $color-white;
  font-family: $ff-jersey !important;
  font-size: $fs-20;
  opacity: 1;
}

// .MuiBackdrop-root {
//   background-color: transparent;
// }

.MuiPaper-root {
  background-color: $color-black-2;
  border-radius: 0;
  border: 1px solid $color-grey-13;
  color: $color-white;
}

.MuiMenuItem-root {
  font-family: $ff-jersey;

  @include hover ('background', $color-dark-blue);
}

.MuiMenuItem-root[aria-selected='true'] {
  background: $color-gradient;
}

.MuiList-padding {
  padding: 0;
}