@use 'sass:color';
@import './assets/normalize';
@import './assets/variables-colors';
@import './assets/variables';
@import './assets/mixins';

* {
  box-sizing: border-box;
}

html {
  color: $color-white;

  font-family: $ff-sans;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  @include responsive {
    width: 4px;
  }

  &-track {
    width: 100%;
    height: 6px;


    box-shadow:
      inset 0 0 0 1px $color-grey-8,
      inset 0 0 0 3px $color-grey-5;
  }

  &-thumb {
    border: 1px solid $color-grey-13;
    background-color: $color-dark-pink;

    @include hover('background-color', color.adjust($color-dark-blue, $lightness: 10%));
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.MuiOutlinedInput-input {
  color: $color-white !important;
  font-family: $ff-sans !important;
  font-size: $fs-16 !important;
  opacity: 1 !important;
}

.MuiPaper-root {
  background-color: $color-black-2 !important;
  border-radius: 0 !important;
  border: 1px solid $color-grey-13 !important;
  color: $color-white !important;

  @include responsive {
    left: 0 !important;
    min-width: 100% !important;
    bottom: 0 !important;
    top: auto !important;
  }
}

.MuiMenuItem-root {
  font-family: $ff-sans !important;

  @include hover ('background', $color-dark-blue);
}

.MuiMenuItem-root[aria-selected='true'] {
  background: $color-gradient !important;
}

.MuiList-padding {
  padding: 0 !important;
}