@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.main {
  background-color: $color-grey-4;
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  font-size: $fs-8;
  z-index: 2;
  padding: 3px;
  border: 1px solid $color-light-grey-3;
  box-shadow: -2px -2px 1px $color-white;
  background: linear-gradient(90deg, rgba(0, 0, 128, 1), rgba(16, 132, 208, 1));
}

.content-wrapper {
  display: flex;
  position: relative;
}

.content {
  background-color: $color-black;
}