@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

$top-part: 120px;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: calc(100dvh - $top-part);

  @include responsive {
    justify-content: space-between;
  }
}