@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

$top-part: 130px;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include responsive {
    min-height: calc(100dvh - $top-part);
    justify-content: space-between;
  }
}