// fonts
$ff-jersey: "Jersey 10", sans-serif;

// @TODO remove unused vars
$fs-50: 3.12rem;
$fs-40: 2.5rem;
$fs-36: 2.25rem;
$fs-35: 2.188rem;
$fs-30: 1.875rem;
$fs-29: 1.81rem;
$fs-28: 1.75rem;
$fs-27: 1.71rem;
$fs-26: 1.65rem;
$fs-24: 1.5rem;
$fs-23: 1.44rem;
$fs-22: 1.38rem;
$fs-21: 1.31rem;
$fs-20: 1.25rem;
$fs-19: 1.19rem;
$fs-18: 1.12rem;
$fs-16: 1rem;
$fs-15: 0.93rem;
$fs-14: 0.88rem;
$fs-13: 0.81rem;
$fs-12: 0.75rem;
$fs-11: 0.69rem;
$fs-10: 0.62rem;
$fs-8: 0.5rem;

$fw-400: 400;

// transition
$transition-time: 0.3s;

// layout
$media-1100-width: 1100px;