@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.button {
  gap: 6px;
  background-color: transparent;
  padding: 14px 16px;
  border: 1px solid $color-grey-13;
  color: $color-white;
  font-size: $fs-11;
  @include flex-center();
}