@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.button {
  gap: 6px;
  min-height: 30px;
  height: 100%;
  padding: 0 16px;
  box-shadow: 1px 1px 1px $color-grey-13;
  background-color: transparent;
  border: 1px solid $color-grey-13;
  color: $color-white;
  font-size: $fs-16;
  @include flex-between();
}