@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.content {
  display: flex;
  flex-direction: column;
  max-width: 910px;
  padding: 45px;

  transform: translate(-50%, -50%);

  inset: 50% auto auto 50%;
  @include gradient-border();
  background-color: $color-black-2;

  &:focus {
    outline: none;
  }

  @include responsive {
    min-height: 100vh;
    padding: 12px 24px;
  }
}


.title-wrapper {
  display: flex;
}

.icon-wrapper {
  position: relative;
  z-index: 1;
  border: none;
  padding: 5px 0 5px 5px;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}