@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.content {
  display: flex;
  flex-direction: column;
  max-width: 910px;
  padding: 45px;
  gap: 32px;

  transform: translate(-50%, -50%);

  inset: 50% auto auto 50%;
  @include gradient-border();
  background-color: $color-black-2;

  &:focus {
    outline: none;
  }

  @include responsive {
    max-height: 100dvh;
    height: 100dvh;
    padding: 24px 10px;
    gap: 16px;
  }
}

.title-wrapper {
  display: flex;
  padding: 0 24px;
}

.icon-wrapper {
  position: relative;
  z-index: 1;
  border: none;
  padding: 5px 0 5px 5px;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}