@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.footer {
  display: none;

  @include responsive {
    display: flex;
    height: 78px;
    background-color: yellow;
  }
}