@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include responsive {
    gap: 16px;
  }
}

.mobile-container {
  @include responsive {
    margin: 64px 24px 24px 24px;
  }
}

.title {
  font-size: $fs-12;
  margin-bottom: 4px;
}

.search-block>div {
  flex-direction: column;
  align-items: flex-start;

  &>div {
    width: 100% !important;

    &>div {
      height: 40px;
    }
  }
}

.title-wrapper {
  position: relative;
  z-index: 1;
  @include flex-between();

  @include responsive {
    font-size: 11px;
  }
}

.show-all-button {
  border: none;
  background-color: transparent;
  color: $color-green-2;
  text-decoration-line: underline;
  cursor: pointer;
}

.networks-list {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 340px;

  @include responsive {
    max-height: 70vh;
  }
}

.network-button {
  height: 48px;
  width: 194px;
  padding: 8px;
  background-color: transparent;
  border: 2px solid $color-grey-13;
  color: $color-white;
  @include flex-between();

  @include responsive {
    width: 96%;
  }
}

.active {
  @include gradient-border(2px);
  border: none;
  opacity: 1;
}

.inactive {
  opacity: 0.2;
  border: 2px solid $color-grey-13;
}

.network-block {
  display: flex;
  align-items: center;
  gap: 8px;
}