@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

$top-part-header: 360px;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 24px;

  @include responsive {
    gap: 16px;
  }
}

.mobile-container {
  @include responsive {
    min-height: 100dvh;
    margin-bottom: 24px;
  }
}

.edit-networks {
  color: $color-green-2;
  border-bottom: 1px solid $color-green-2;
  text-transform: uppercase;
  margin-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.all-networks,
.edit-networks {
  font-weight: $fw-600;
  font-size: $fs-16;
  line-height: 12px;
}

.title {
  font-size: $fs-24;
  margin-bottom: 4px;
}

.search-block>div {
  margin-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;

  &>div {
    width: 100% !important;

    &>div {
      height: 40px;
    }
  }
}

.title-wrapper {
  position: relative;
  z-index: 1;
  @include flex-between();

  @include responsive {
    font-size: 11px;
  }
}

.show-all-button {
  border: none;
  font-size: $fs-16;
  background-color: transparent;
  color: $color-green-2;
  text-decoration-line: underline;
  cursor: pointer;
  font-weight: $fw-600;
}

.networks-list {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 360px;

  @include responsive {
    max-height: calc(100dvh - $top-part-header);
  }
}

.network-button {
  height: 48px;
  width: 194px;
  padding: 8px;
  background-color: transparent;
  border: 2px solid $color-grey-13;
  color: $color-white;
  @include flex-between();

  @include responsive {
    width: 96%;
  }
}

.select-networks {
  .network-button {
    width: 260px;

    @include responsive {
      width: 96%;
    }
  }
}

.active {
  @include gradient-border(2px);
  border: none;
  opacity: 1;
}

.inactive {
  opacity: 0.2;
  border: 2px solid $color-grey-13;
}

.network-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 24px;
}
