@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.title {
  padding: 16px 24px 26px;
  font-size: $fs-22;
}

.buttons {
  margin: 0 1.5px;
  position: relative;
  z-index: 1;
  border-top: 1px solid $color-grey-13;
  display: flex;
  flex-direction: column;
}

.button {
  text-align: start;
  padding: 14px 24px;
  height: 48px;
  font-size: $fs-16;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $color-grey-13;
  background-color: transparent;
  color: $color-white;
  cursor: pointer;
}

.selected {
  background-color: $color-dark-blue;
}